<div class="row">
  <div class="col-md-12 mt-3">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
    <hr />
  </div>

  <div class="mx-4">
    <h6>評論數 : {{commentNum}}</h6>
    <h6>瀏覽數 : {{restaurant.viewCounts}}</h6>
  </div>
</div>

<br />
<a href="javascript:history.back()">回上一頁</a>